/* CSS Meyer's Reset */
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  background-color: black;
  line-height: 1;
  color: white;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.15em;
}

html, body {
  height: 100%;
}

/* Global */
.wrapper {
  width: 1250px;
  margin: 0 auto;
}

/* Header Styles */
.header {
  position: fixed;
  top: 0px;
  margin: 0 auto;
  z-index:100000; 
  width:100%;
  background-color: black;
}

#header-wrapper {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-container{
  display: flex;
  align-items: center;
}

.nav-links {
  margin: 0 5px;
}

.nav-button {
  width: 75px;
}

.nav-button h3 {
  font-size: 20px;
}

.nav-image {
  width: 50px;
}

.logo-image {
  width: 75px;
}

/* Hero Styles */
.full-size {
  height: 100%;
  position: relative;
  background-image: url(components/images/portraits/dark_me_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 25%;
  margin-bottom: 50px;
}

.bg-image {
  height: 100%;
  position: relative;
  object-fit: cover;
}

#root {
  height: 100%;
}

.one-hundred {
  height: 100%;
}

.hero-text-box {
  position: relative;
  top: 30%;
  
}

.hero-heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 7em;
  margin-bottom: 20px;
  letter-spacing: .125em;
  font-style: italic;
}

.hero-paragraph {
  margin-bottom: 30px;
}

.last-line {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

/* Skills Styles */
.skills-row {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}

.image-container {
  border: .5px white solid;
  border-radius: 10px;  
  text-align: center;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  letter-spacing: .075em;

}

/* Project Gallery Styles */
.proj-gallery-box {
  width: 100%;
}

.proj-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 20px 100px 20px;  
}

.proj-image-box {
  display: flex;
  justify-content: center;
  width: 50%;
}

.proj-text-box {
  width: 50%;
  /* display: flex;
  justify-content: ; */
}

.proj-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: 50px;
}

.proj-description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.proj-image {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.proj-nav {
  border-bottom: 1px solid white;
  /* padding-bottom: 5px; */
}

.proj-tabs {
  display: flex;
  justify-content: center;
}

.tab-name {
  /* margin: 0px 10px; */
  border: 1px solid white;
  border-bottom: none;
  /* border-radius: 7.5px; */
  padding: 5px 15px;
}

#proj-designer-gallery-box {
  display: block;
}

#proj-developer-gallery-box {
  display: none;
}

/* .proj-text- */

/* Footer Styles */
