@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu:wght@400;500;700&family=Mitr:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans&display=swap');

/* CSS Meyer's Reset */
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  background-color: rgb(0, 0 ,0);
  line-height: 1;
  color: white;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  line-height: 1.15em;
}

html, body {
  height: 100%;
}

/* HEADER */

.topnav {
  overflow: hidden;
  background-color: #111;
  position: relative;
}

.topnav #myLinks {
  display: none;
  animation-name: nav-fade;
  animation-duration: .5s;
}

@keyframes nav-fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
  margin: 7.5px 0 0 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #111;
  color: white;
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}

.logo-image {
  width: 50px;
}

/* HERO */

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://i.gifer.com/A6m9.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-position: center -175px;
  background-size: cover;
  height: 100vh;
  font-family: "Audiowide", sans-serif;
  padding: 0 10px 0 10px
}

#hero-heading {
  font-size: 3rem;
  font-family: "Audiowide", sans-serif;
  margin-bottom: 30px;
}

.hero-text-box  h2 {
  margin: 30px 0 10px 0;
}

#last-line {
  font-size: 1.25rem;
}

/* SKILLS */

.skill-icons {
  display: flex;
  flex-wrap: wrap;
}

/* Skills Styles */
.skills-container {
  margin: -100px 0 150px 0;
}

.image-container {
  border: .5px white solid;
  border-radius: 10px;  
  text-align: center;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 10px;
}

.heading {
  text-align: center;
  font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
  font-size: 3em;
  letter-spacing: .075em;
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0 75px 0;
}

/* Project Gallery Styles */
.proj-gallery-box {
  width: 100%;
}

.proj-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 20px 100px 20px;  
}

.proj-image-box {
  display: flex;
  justify-content: center;
  margin: 0 5% 25px 5%;
  background-color: white;
  border-radius: 10px;
}

.proj-text-box {
  text-align: center;
  overflow-wrap: break-word;
  /* width: 50%; */
}

.proj-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: 50px;
}

.proj-description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-wrap: break-word;
}

.proj-image {
  width: 300px;
  object-fit: contain;
}

.proj-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.proj-tabs a {
  color: white;
  text-align: center;
}

.tab-name {
  border: 1px solid white;
  border-radius: 10px;
  padding: 25px 10px;
  margin: 25px 50px;
  font-family: "Mitr", sans-serif;
  font-size: 200%;
  background-color: rgba( 0, 0, 0, 0);
}

/* .tab-name:hover {
  animation-name: radial-light;
  animation-duration: .5s;
} */

#proj-designer-gallery-box {
  display: block;
  animation-name: slide-in;
  animation-duration: .5s;
}

#proj-developer-gallery-box {
  display: none;
  animation-name: slide-in;
  animation-duration: .5s;
}

@keyframes slide-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes radial-light {
  0% {box-shadow: 0 0 0 0 #000;}
  100% {box-shadow: 0 0 40px 20px #fff;}
}

@media screen and (min-width: 800px) {
  .proj-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 100px 20px;  
  }
  
  .proj-image-box {
    display: flex;
    justify-content: center;
    margin: 0 5%;
    background-color: white;
    border-radius: 10px;
  }
  
  .proj-text-box {
    width: 50%;
  }
  
  .proj-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 50px;
  }
  
  .proj-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-wrap: break-word;
  }
  
  .proj-image {
    height: 300px;
    width: 300px;
    object-fit: contain;
  }
  
  .proj-tabs {
    display: flex;
    justify-content: center;
    align-content: center;
  
  }
  
  .proj-tabs a {
    color: white;
  }
  
  .tab-name {
    border: 1px solid white;
    border-radius: 10px;
    padding: 50px 100px;
    margin: 100px 50px;
    font-family: "Mitr", sans-serif;
    font-size: 200%;
    background-color: rgba( 0, 0, 0, 0);
  }
  
  #proj-designer-gallery-box {
    display: block;
    animation-name: slide-in;
    animation-duration: .5s;
  }
  
  #proj-developer-gallery-box {
    display: none;
    animation-name: slide-in;
    animation-duration: .5s;
  }
}

/* Footer Styles */
.footer-disclaimer {
  display: flex;
  justify-content: center;
  color: rgb(85, 85, 85);
  padding: 0 2.5%;
}

.footer-disclaimer a {
  color: rgb(85, 85, 85);
}

.footer-text {
  font-size: .75em;
}