@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu:wght@400;500;700&family=Mitr:wght@200;300;400&display=swap');

/* CSS Meyer's Reset */
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  background-color: rgb(20, 20 ,20);
  line-height: 1;
  color: white;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  line-height: 1.15em;
}

html, body {
  height: 100%;
}

/* HEADER */

.topnav {
  overflow: hidden;
  background-color: #111;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #111;
  color: white;
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}

.logo-image {
  width: 50px;
}

/* HERO */

.sphere {
  padding-bottom: 0vw;
  width: 75vw;
  height: 75vw;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 auto;
  background-image: url(https://i.gifer.com/Vux1.gif);
}

/* SKILLS */

.skill-icons {
  display: flex;
  flex-wrap: wrap;
}

/* PROJECTS */

.proj-image {
  width: 300px;
}
